feature lldp
feature privilege

hostname {{ inventory_hostname }}

no password strength-check

{% for user in initial_virtual_appliance_users %}
username {{ user['name'] }} password {{ user['password'] }} role network-admin
{% endfor %}

vrf context management
  ip route 0.0.0.0/0 {{ hostvars[host]['virt_net']|ipaddr('network')|ipmath(1) }}

interface mgmt0
  vrf member management
  ip address {{ ansible_ssh_host }}/{{ hostvars[host]['virt_net']|ipaddr('prefix') }}

boot nxos bootflash:/nxos.9.2.2.bin 
