

default-lease-time 600;
max-lease-time 7200;
log-facility local7;

subnet {{ net_mgmt|ipaddr('network') }} netmask {{ net_mgmt|ipaddr('netmask') }} {

 default-lease-time 86400;
 max-lease-time 86400;
 option routers {{ net_mgmt|ipaddr('network')|ipmath(1) }};
 option subnet-mask {{ net_mgmt|ipaddr('netmask') }};
 option broadcast-address {{ net_mgmt|ipaddr('network')|ipmath(255) }};
 option domain-name-servers {{ dhcp['dns_server'] }};
 option domain-name "{{ dhcp['domain_name'] }}";

{% for host, vars in hostvars.items() %}
{% if 'host' in vars %}
{% if vars['host'] == inventory_hostname %}
{% if 'dhcp_spec' in vars %}
{% if vars['ansible_network_os'] == 'eos' %}
  host {{ vars['dhcp_spec']['name'] }} {
    hardware ethernet {{ vars['dhcp_spec']['mac'] }};
    fixed-address {{ vars['dhcp_spec']['ip'] }};
    option bootfile-name "tftp://{{ lookup('dig', tftp_server) }}/{{ vars['dhcp_spec']['name'] }}.cfg";
  }
{% elif vars['ansible_network_os'] == 'nxos' %}
  host {{ vars['dhcp_spec']['name'] }} {
    hardware ethernet {{ vars['dhcp_spec']['mac'] }};
    fixed-address {{ vars['dhcp_spec']['ip'] }};
    option tftp-server-name "{{ lookup('dig', tftp_server) }}";
    option bootfile-name "{{ vars['dhcp_spec']['name'] }}.py";
  }
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}

}
